.vs/*
./package/*
package/*
TOTX.zip
"App_Data/Sp\303\251cialit\303\251s*
"WebSite1/App_Data/Sp\303\251cialit\303\251s chirurgicales.csv"
"WebSite1/App_Data/Sp\303\251cialit\303\251s chirurgicales.xls"
./temps/*
/bin/*
packages/*
Website1/temps/*
Website1/bin/*
Website1/packages/*

